.row.content {
    height: 500px;
    width:600px;
    align-items: center;
}

.divider {
    margin-top: 50px;
}

.nav-link.disabled {
    font-size: 25px;
    color: red
}

hr {
    opacity: 10%;
    margin-bottom: 50px
}

.container-fluid{
    display: flex;
    flex-direction: column;
}

#advanced_search {
    float: right;
}

.nav-link:hover {
    color: black;
    text-decoration: underline;
}

.nav-link {
    color: black;
}