{% extends "network/layout.html" %}
{% block body %}
    <div class="container-fluid text-center">
            {% for user in follows_list %}
            <div class="row">
                <div class="post-div col-12 border-bottom">
                    <a href="{{user}}" class="user-profile-link custom-link"><h5>{{user}}</h5></a>
                    {% for post in user.posts.all %}
                    <p>{{post.content}}</p>
                </div>
                {% endfor %}
            {% endfor %}
        </div>
    </div>
{% endblock %}