{% extends "network/layout.html" %}

{% block body %}
<div class="container-fluid">
    
    <h1 id="user_profile">{{username}}</h1>
    {% if username != user.username %}
        <button id="toggle_button" class="btn btn-primary"></button>
    {% endif %}
    <h3>Followers: 0</h3>
    <h3>Follows: 0</h3>
    <h3>Posts</h3>
    {% for post in posts %}
        <div>
            <span>{{post.content}}</span>
                {% if username == user.username %}
                <button class="btn btn-outline-primary btn-sm">Edit</button>
                {% endif %}
        </div>
    {% endfor %}
</div>
{% endblock %}