a.custom-link {
    text-decoration: none;
    color: blue;
}

a.custom-link:hover {
    opacity: 75%;
}

h5 {
    display: inline;
}

p.post-date {
    margin-bottom: 10px;
    font-size: small;
}

div.post-div {
    background-color: white;
}

div.post-div:hover {
    background-color: rgb(238, 238, 238);

}

div.container-fluid {
    background-color: rgb(248, 248, 248);
}

#new-post {
    background-color: white;
}

.post-date {
    font-size: smaller;
}

div.img-div {
    width: 90px;
}

#like_button {
    background-color: rgb(187, 187, 255);
}