{% extends "mail/layout.html" %}
{% load static %}

{% block body %}
    
<div id="body" class="container-fluid mt-3">
<div class="row row-cols-2">
    
        <div class="menu-container d-flex flex-column col-2 mt-5">
            <div class="menu row gap-1 m-4 ">
                <button class="menu-btn btn btn-sm text-start" id="inbox">Inbox</button>
                <button class="menu-btn btn btn-sm text-start" id="compose">Compose</button>
                <button class="menu-btn btn btn-sm text-start" id="sent">Sent</button>
                <button class="menu-btn btn btn-sm text-start" id="archived">Archived</button>
            </div>
        </div>
    
    
        <div class="content col-10 pe-4">
            <div class="ps-1" id="mailbox-title"></div>

            <div id="emails-view" class="view">
                <div class="table-container">
                    <table class="table table-responsive table-hover user-select-none">
                        <thead>
                            <tr>
                                <th class="col-3">Sent by</th>
                                <th class="col-6">Subject</th>
                                <th class="col-2">Received on</th>
                                <th class="col-1"></th>
                            </tr>
                        </thead>
                        <tbody id="emails-view-table">
                        </tbody>
                    </table>
                </div>
            </div>
            <div id="display-mail" class="view">
            </div>
            <div id="archives" class="view">
                <table class="table table-hover user-select-none">
                    <thead>
                        <tr>
                            <th>Sent by</th>
                            <th>Subject</th>
                            <th>Received on</th>
                        </tr>
                    </thead>
                    <tbody id="archives-view-table">
                    </tbody>
                </table>
            </div>
            <div id="sent-view" class="view">
                <table class="table table-hover user-select-none">
                    <thead>
                        <tr>
                            <th>Sent by</th>
                            <th>Subject</th>
                            <th>Received on</th>
                        </tr>
                    </thead>
                    <tbody id="sent-view-table">
                    </tbody>
                </table>
            </div>
            <div id="compose-view" class="view">
                <h3>New Email</h3>
                <form id="compose-form">
                    <div class="form-group mb-4">
                        From: <input disabled class="form-control" value="{{ request.user.email }}">
                    </div>
                    <div class="form-group mb-4">
                        To: <input id="compose-recipients" placeholder="Recipient" class="form-control">
                    </div>
                    <div class="form-group mb-4">
                        <input class="form-control" id="compose-subject" placeholder="Subject">
                    </div>
                    <textarea class="form-control mb-3" id="compose-body" placeholder="Body"></textarea>
                    <input type="submit" class="btn btn-primary"/>
                </form>
            </div>
        </div>
</div>

</div>

{% endblock %}

{% block script %}
    <script src="{% static 'mail/inbox.js' %}"></script>
{% endblock %}