{% extends "auctions/layout.html" %}

{% block body %}
    {% if user.is_authenticated %}
    {% endif %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-8">
                <h2>Your watched lists</h2>
                <ul>
                    {% if watchlist %}
                        {% for entry in watchlist %}
                            <li><a href="{{entry.listing.title}}">{{entry.listing.title}}</a></li>
                            <span>
                                <form action="{% url 'watchlist' %}" method="post">
                                    {% csrf_token %}
                                    {{watchlistform}}
                                    <input type="hidden" name="button_value" value="{{entry.id}}">
                                    <button class="btn btn-primary btn-sm" type="submit" value="deleted">Delete from watchlist</button>
                                </form>
                            </span>
                        {% endfor %}
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}