#compose-body {
    height: 30vh;
}

.navbar {
    background-color: darkblue;
}

.nav-item {
    color: white;
}

.nav-link {
    color: white;

}

strong {
    color: darkblue;
}

.menu-btn {
    color: darkblue;
}

.menu-btn.active {
    background-color: darkblue;
    color: white;
    font-weight: bold;
}

.restore-btn {
    opacity: 0;
}

.archives-row:hover .restore-btn {
    color: darkblue;
}

.delete-btn {
    opacity: 0;
}

.mail-row:hover .delete-btn {
    opacity: 0.4;
}

.delete-btn:hover {
    opacity: 1;
    color: red;
}




