{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
<h1>History</h1>
<table class="table table-hover table-bordered">
    <thead>
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Stock</th>
        <th scope="col">Shares</th>
        <th scope="col">Price</th>
        <th scope="col">Action</th>
      </tr>
    </thead>

    <tbody>
    {% for item in combined %}
        <tr>
            <td>
                {{ item.times }}
            </td>
            <td>
                {{ item.stock }}
            </td>
            <td>
                {{ item.shares }}
            </td>
            <td>
                {{ item.prices | usd }}
            </td>
            <td>
                {% if item.status %}
                    {{ "Buy" }}
                {% else %}
                    {{ "Sell" }}
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
