{% extends "layout.html" %}

{% block body %}
<body>

    <div class="container-fluid d-flex  ">

        <ul class="nav m-3 ">
            <li class="nav-item ms-auto">
            <a class="nav-link" href="advanced_search">Advanced search</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="image_search">Images</a>
            </li>
        </ul>

        <div class="text-center">
            <img class="img-fluid w-50" src="static/belgiumnationalday.png" alt="Belgium doodle">
            <form action="https://www.google.com/search" class="divider">
                <input type="text" name="q" autocomplete="off" class="rounded-pill form-control mb-4 mx-auto w-25">
                <button type="submit" name="btnK" value="Google Search" class="btn btn-light">Google Search</button>
                <button type="submit" name="btnI" value="I'm Feeling Lucky" class="btn btn-light">I'm Feeling Lucky</button>
            </form>
        </div>

    </div>

</body>

{% endblock %}